@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    width: 100vw;
    height: 100vh;
}

.up {
    height: 100px;
    border-bottom: 1px dotted #000;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.up .area-titulo {
    flex: 1;
}

.up .btn-acoes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.up .btn-acoes button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #191919;
    color: #fff;
    cursor: pointer;
}

.up .btn-acoes button:hover {
    opacity: .7;
    transition: ease-in-out .2s all;
}

.down {
    flex: 1;
    display: flex;

}

.down .leftside {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.down .leftside h1{
    font-size: 25px;
}


.down .leftside .area-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down .leftside .area-dados .dashboards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.down .leftside .area-dados .dashboards .dash{
    width: 200px;
    height: 100px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.down .rightside {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 2px dotted #191919;
}


.down .rightside table{
    width: calc(100% - 20px);
}


.down .rightside table th, td {
  padding: 8px 12px;        
  text-align: left;          
  border-bottom: 1px solid #ddd; 
}

.down .rightside table th {
  background-color: #f2f2f2; 
  font-weight: bold;
}

.down .rightside table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.down .rightside table tr:hover {
  background-color: #f1f1f1; 
}

.down .rightside table caption {
  caption-side: top;         
  font-weight: bold;
  margin-bottom: 10px;
}

.down .rightside table td {
  vertical-align: middle;   
}


.btn{
    padding: 5px 10px;
    background-color: #ff0000;
    border-radius: 5px;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:first-child{
    background-color: green;
}

.btn:hover{
    opacity: .8;
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

.modal .modal-area {
    min-width: 500px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;
}

.modal .modal-area .modal-head {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.modal .modal-area .modal-head span {
    cursor: pointer;
}


.modal .modal-area .modal-body {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}


.modal .modal-area .modal-body form {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-area .modal-body form button {
    width: 100%;
    padding: 4px;
    background-color: #191919;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: calc(100% - 10px);
    font-size: 15px;
}

.modal .modal-area .modal-body .form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.modal .modal-area .modal-body .form-field input {
    width: calc(100% - 10px);
    padding: 5px;
    outline: none;
    border-radius: 5px;
}

#nomeCampo,
#idadeCampo,
#alturaCampo,
#pesoCampo {
    display: none;
}



@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .up{
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .btn-acoes{
    flex-direction: column;
    gap: 5px;
  }

  .down{
    flex-direction: column;
  }
}